.banking-container {
  margin: 100px 30px 0 30px;
  display: flex;
  justify-content: space-between;
}

.banking-items-container {
  box-shadow: 0px 0px 10px -2px #000;
  display: flex;
  width: 80%;
  height: 55vh;
  border-radius: 10px;
  padding: 50px 30px 30px 30px;
  gap: 20px;
}

.banking-items {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px -2px #000;
  border-radius: 10px;
}

.banking-img {
  width: 253px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title {
  margin: 10px 20px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.des {
  margin: 10px 20px;
  font-size: 15px;
  color: #555977;
}
