.home-container {
  display: flex;
}
.home-items-container {
  width: 100%;
  /* background-color: #fafcff; */
  position: relative;
}

.home-header {
  background-color: #262847;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px 0 60px;
  height: 30vh;
  width: 100%;
  color: #fff;
}

.name-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name-container h1 {
  font-size: 20px;
  font-weight: 600;
}

.name-container p {
  color: #555977;
  font-weight: 500;
}

.date-container {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.date {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.date-icons {
  font-size: 20px;
  font-weight: 800;
}
.date p {
  font-size: 15px;
}

.home-save-library-cards-container {
  position: absolute;
  top: 130px;
  width: 100%;
}

.home-banking-container-it {
  width: 100%;
}
